<!doctype html>
<html th:fragment="layout (template)">
<head>
    <title>Pet Clinic</title>
    <style>
        table, th, td, dt, dd {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .error { color: red; }
    </style>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <b>User:</b> <span sec:authentication="name"></span>
    <b>Authorities:</b> <span sec:authentication="authorities"></span>
    <b>Principal Authorities</b> <span sec:authentication="principal.authorities"></span>
</div>
<div>
    <ul th:remove="all">
        <li th:fragment="menuItem (link, title, text)">
            <a th:href="@{${link}}" th:title="${title}">
                <span th:text="${text}"></span>
            </a>
        </li>
    </ul>
    <ul>
        <li th:replace="~{::menuItem ('/', 'home page', 'Home')}"></li>
        <li th:replace="~{::menuItem ('/owners/find', 'find owners', 'Find Owners')}"></li>
        <li th:replace="~{::menuItem ('/vets', 'veterinarians', 'Veterinarians')}"></li>
        <li th:replace="~{::menuItem ('/oops', 'expected error', 'Oops')}"></li>
    </ul>
</div>
<div>
    <th:block th:insert="${template}"></th:block>
</div>
<br/>
<div>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>
</html>