<!doctype html>
<html th:replace="~{fragments/layout :: layout(~{::body})}">
<body>
<h2>Owner</h2>
<form th:object="${owner}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input th:replace="~{fragments/inputField :: input('First Name', 'firstName', 'text')}" />
    <input th:replace="~{fragments/inputField :: input('Last Name', 'lastName', 'text')}" />
    <input th:replace="~{fragments/inputField :: input('Address', 'address', 'text')}" />
    <input th:replace="~{fragments/inputField :: input('City', 'city', 'text')}" />
    <input th:replace="~{fragments/inputField :: input('Telephone', 'telephone', 'text')}" />
    <br/>
    <div>
        <button th:if="*{id}" type="submit">Update Owner</button>
        <button th:unless="*{id}" type="submit">Add Owner</button>
    </div>
</form>
</body>
</html>