<!doctype html>
<html>
<body>
<form>
    <th:block th:fragment="input (label, name, type)">
        <div>
            <label th:text="${label}"></label>
            <div th:switch="${type}">
                <input th:case="text" type="text" th:field="*{__${name}__}">
                <input th:case="date" type="date" th:field="*{__${name}__}">
            </div>
            <span th:if="${#fields.hasErrors(name)}" th:errors="*{__${name}__}" class="error"></span>
        </div>
        <br/>
    </th:block>
</form>
</body>
</html>